---
const personalImageAlt = "Emil Acevedo";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Emil Acevedo pero mis amigos me llaman Ema. Empecé en la
      programación a inicios del 2023, con un curso de FullStack. Actualmente
      estoy <strong
        >Cursando la última parte del curso que es el Back-end</strong
      >.
    </p>

    <p>
      Aunque no tengo experiencia en trabajos formales en el campo de la
      programación, he trabajado en varios <strong>proyectos de cursos</strong> que
      me han permitido adquirir habilidades prácticas y un entendimiento profundo
      de los conceptos de programación.
    </p>

    <p>
      Estoy emocionado por la oportunidad de llevar mis habilidades al siguiente
      nivel y comenzar mi carrera en el desarrollo de software. Estoy
      particularmente interesado en <strong
        >trabajar en proyectos que me permitan seguir aprendiendo y creciendo
        como desarrollador</strong
      >.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/DSC_1859.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
